:root {
    --primaryBg: #f8f9fa;
    --primaryText: black;
    --primaryLinks: #cf6766;
    --secondaryBg: #c5c1c0;
    --secondaryText: black;
    --secondaryLinks: #cf6766;
    --shadow: #c5c1c0;
}
