:root {
    --primaryBg: #faf6f2;
    --primaryText: black;
    --primaryLinks: #683b2b;
    --secondaryBg: #ded1bd;
    --secondaryText: black;
    --secondaryLinks: #683b2b;
    --shadow: #683b2b;
}
