:root {
    --primaryBg: #056e71;
    --secondaryBg: #ccdfcb;
    --primaryText: black;
    --primaryLinks: #711105;
    --secondaryText: black;
    --secondaryLinks: #711105;
    --shadow: #414141;
}
